<section id="home">
    <div class="container">
			<table class="table">
				<%@posts = Post.all %>
				<% unless  @posts.nil? || @posts.empty?  %>
					<% @posts.each do |p|%>
					<tr>
						<td class= "text-center">
							<h1 class="text-center"><%= p.title %></h1>
							<i><h5 class="text-center"><%= l p.created_at, format: :long %></h5></i>
							<p class="text-justify">	
									<%= simple_format(p.description)  %>								
							</p>
							<small class="text-center">
								<i> publicado por <%= current_user %></i>
							</small>													
						</td>	
					</tr>
					<tr>
						<td>
							<%= image_tag  "#{ p.url_image}", :width => "#{p.size_image}%" %><br>
							<% if p.url_image.blank? %>
								<iframe width="100%" height="400"
									src=<%="https://www.youtube.com/embed/#{p.key_youtube}"%>>
								</iframe>
							<% end %>
						</td>												
					</tr>

				<% end %>
				<% else %>
					<tr>
						<td colspan="2" class="text-center">
							Nenhuma notícia foi postada.
						</td>
					</tr>			
				<% end %>
			</table>
	
		</div>
</section>
